{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, use-sclalable=0">

    <title>MTG Cardbox</title>

    <link rel="stylesheet" type="text/css" href="{% static 'cardbox/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cardbox/css/cardbox.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include 'cardbox/drawer.html' %}

    <div class="offcanvas-inner">
      <div class="offcanvas-close-btn"></div>
      {% include 'cardbox/navbar.html' %}

      <div class="container">
        <div class="main-container">
          {% for message in  messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message.tags|capfirst }}!</strong> {{ message }}
          </div>
          {% endfor %}

          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'cardbox/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'cardbox/js/cardbox.js' %}"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();
      });
</script>
  </body>
</html>
