{% extends 'cardbox/base.html' %}

{% load staticfiles %}

{% block content %}

<div class="row">
  <div class="col-md-7">
    <div class="page-header">
      <h1>{{ card.name }} <small>{% if card.get_mana %}{{ card.get_mana }} ({{ card.cmc }}){% endif %}<br />{{ card.types }} {{ card.get_ptl }}</small></h1>
    </div>
    {% if card.rules %}
    <div class="card-rules well">{{ card.rules|linebreaks }}</div>
    {% endif  %}
    {% if card.flavour %}
    <div class="card-flavour text-muted">{{ card.flavour|linebreaks }}</div>
    {% endif %}

    <div class="content">
      <caption><h3 class="caption text-muted">legality</h3></caption>
      {% if legality.legal or legality.restricted or legality.banned %}
      {% if legality.legal %}
      <p class="text-success"><strong>Legal</strong> in {{ legality.legal|join:', ' }}</p>
      {% endif %}
      {% if legality.restricted %}
      <p class="text-warning"><strong>Restricted</strong> in {{ legality.restricted|join:', ' }}</p>
      {% endif %}
      {% if legality.banned %}
      <p class="text-danger"><strong>Banned</strong> in {{ legality.banned|join:', ' }}</p>
      {% endif %}
      {% else %}
      <p class="text-danger">This card is not legal in any format.</p>
      {% endif %}
    </div>

    {% if card.multi_type %}
    <div class="content">
      <caption><h3 class="caption text-muted">other part{{ card.multi_cards.count|pluralize }}</h3></caption>
      <ul>
        {% for mcard in card.multi_cards.all %}
        <li>
          {% if collection %}
          <a href="{% url 'cardbox:collection_card' collection.id mcard.id %}">{{ mcard.name }}</a>
          {% else %}
          <a href="{% url 'cardbox:card' mcard.id %}">{{ mcard.name }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>

  <div class="col-md-5">
    <img id="cardImage" src="{% static card.get_image_url %}" class="img-responsive" alt="{{ card.name }}">
    <p><a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid={{ card.multiverseid }}">Gatherer</a> &#9899; <a href="http://magiccards.info/query?q={{ card.name }}">MagicCardsInfo</a></p>
  </div>

  <div class="col-sm-10" id="editionTable">
    {% if collection %}
    {% include 'cardbox/collection_entry_table.html' %}
    {% else %}
    <table class="table table-striped">
      <caption><h3 class="caption text-muted">editions</h3></caption>
      {% if editions %}
      <thead>
        <tr>
          <th>Number</th>
          <th>Set</th>
          <th>Rarity</th>
          <th>Artist</th>
        </tr>
      </thead>
      <tbody>
        {% for edition in editions %}
        <tr>
          <td>{{ edition.number }}{{ edition.number_suffix }}</td>
          <td>[{{ edition.mtgset.code }}] {{ edition.mtgset.name }}</td>
          <td>{{ edition.rarity }}</td>
          <td>{{ edition.artist }}</td>
        </tr>
        {% endfor  %}
      </tbody>
      {% endif %}
    </table>
    {% endif %}
  </div>

  {% if card.rulings.all %}
  <div class="col-sm-10">
    <ul class="list-group">
      <caption><h3 class="caption text-muted">rulings</h3></caption>
      {% for ruling in card.rulings.all %}
      <li class="list-group-item"><strong>{{ ruling.date }}</strong>: {{ ruling.ruling }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>

{% endblock %}

{% block js %}
{% if collection %}
<script type="text/javascript">
 $(document).on("eldarion-ajax:begin", function(evt, $el) {
   if ($el.hasClass("form ajax")) {
     $('#updateStatus').removeClass("text-success text-danger").addClass("text-primary").html('updating...');
   }
 });
 $(document).on("eldarion-ajax:success", function(evt, $el, data, textStatus, jqXHR) {
   if ($el.hasClass("form ajax")) {
     $('#updateStatus').removeClass("text-danger text-primary").addClass("text-success").html('saved');
   }
 });
 $(document).on("eldarion-ajax:error", function(evt, $el, data, textStatus, jqXHR) {
   if ($el.hasClass("form ajax")) {
     $('#updateStatus').removeClass("text-success text-primary").addClass("text-danger").html('error');
   }
 });
</script>
{% endif %}
{% endblock %}
