{% extends 'cardbox/base.html' %}

{% load staticfiles %}

{% block content %}

<div class="row">
  <div class="col-md-7">
    <div class="page-header">
      <h1>{{ card.name }} <small>{% if card.get_mana %}{{ card.get_mana }} ({{ card.cmc }}){% endif %}<br />{{ card.types }} {{ card.get_ptl }}</small></h1>
    </div>
    {% autoescape off %}
    {% if card.rules %}
    <div class="card-rules well">{{ card.rules_html }}</div>
    {% endif  %}
    {% if card.flavour %}
    <div class="card-flavour text-muted">{{ card.flavour_html }}</div>
    {% endif %}
    {% endautoescape %}

    <table class="table table-striped">
      <caption><h3 class="caption text-muted">editions</h3></caption>
      {% if entries %}
      <thead>
        <tr>
          <th>Copies</th>
          <th>Foils</th>
          <th>Number</th>
          <th>Set</th>
          <th>Rarity</th>
          <th>Artist</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
        <tr>
          <td>{{ entry.count }}</td>
          <td>{{ entry.foil_count }}</td>
          <td>{{ entry.edition.number }}{{ entry.edition.number_suffix }}</td>
          <td>[{{ entry.edition.mtgset.code }}] {{ entry.edition.mtgset.name }}</td>
          <td>{{ entry.edition.rarity }}</td>
          <td>{{ entry.edition.artist }}</td>
          <td><img src="{% static 'cardbox/images/icons/16px/173-bin.png' %}" alt="Delete"></td>
        </tr>
        {% endfor  %}
      </tbody>
      {% else  %}
      <thead>
        <tr>
          <th>Number</th>
          <th>Set</th>
          <th>Rarity</th>
          <th>Artist</th>
        </tr>
      </thead>
      <tbody>
        {% for edition in card.editions.all %}
        <tr>
          <td>{{ edition.number }}{{ edition.number_suffix }}</td>
          <td>[{{ edition.mtgset.code }}] {{ edition.mtgset.name }}</td>
          <td>{{ edition.rarity }}</td>
          <td>{{ edition.artist }}</td>
        </tr>
        {% endfor  %}
      </tbody>
      {% endif %}
    </table>

    {% if card.rulings.all %}
    <ul class="list-group">
      <caption><h3 class="caption text-muted">rulings</h3></caption>
      {% for ruling in card.rulings.all %}
      <li class="list-group-item"><strong>{{ ruling.date }}</strong>: {{ ruling.ruling }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="col-md-5">
    <img src="{% static card.get_image_url %}" class="img-responsive" alt="{{ card.name }}">
    <div class="content">
      <p><a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid={{ card.multiverseid }}">Gatherer</a> &#9899; <a href="http://magiccards.info/query?q={{ card.name }}">MagicCardsInfo</a></p>
      <ul class="legal-list">
        {% if card.legal_vintage == card.LEGALITY_LEGAL %}
        <li class="text-success">Legal in Vintage</li>
        {% elif card.legal_vintage == card.LEGALITY_RESTRICED %}
        <li class="text-danger">Restricted in Vintage</li>
        {% elif card.legal_vintage == card.LEGALITY_BANNED %}
        <li class="text-danger">Banned in Vintage</li>
        {% endif  %}
        {% if card.legal_legacy == card.LEGALITY_LEGAL %}
        <li class="text-success">Legal in Legacy</li>
        {% elif card.legal_legacy == card.LEGALITY_RESTRICED %}
        <li class="text-danger">Restricted in Legacy</li>
        {% elif card.legal_legacy == card.LEGALITY_BANNED %}
        <li class="text-danger">Banned in Legacy</li>
        {% endif  %}
        {% if card.legal_extended == card.LEGALITY_LEGAL %}
        <li class="text-success">Legal in Extended</li>
        {% elif card.legal_extended == card.LEGALITY_RESTRICED %}
        <li class="text-danger">Restricted in Extended</li>
        {% elif card.legal_extended == card.LEGALITY_BANNED %}
        <li class="text-danger">Banned in Extended</li>
        {% endif  %}
        {% if card.legal_standard == card.LEGALITY_LEGAL %}
        <li class="text-success">Legal in Standard</li>
        {% elif card.legal_standard == card.LEGALITY_RESTRICED %}
        <li class="text-danger">Restricted in Standard</li>
        {% elif card.legal_standard == card.LEGALITY_BANNED %}
        <li class="text-danger">Banned in Standard</li>
        {% endif  %}
        {% if card.legal_classic == card.LEGALITY_LEGAL %}
        <li class="text-success">Legal in Classic</li>
        {% elif card.legal_classic == card.LEGALITY_RESTRICED %}
        <li class="text-danger">Restricted in Classic</li>
        {% elif card.legal_classic == card.LEGALITY_BANNED %}
        <li class="text-danger">Banned in Classic</li>
        {% endif  %}
        {% if card.legal_commander == card.LEGALITY_LEGAL %}
        <li class="text-success">Legal in Commander</li>
        {% elif card.legal_commander == card.LEGALITY_RESTRICED %}
        <li class="text-danger">Restricted in Commander</li>
        {% elif card.legal_commander == card.LEGALITY_BANNED %}
        <li class="text-danger">Banned in Commander</li>
        {% endif  %}
        {% if card.legal_modern == card.LEGALITY_LEGAL %}
        <li class="text-success">Legal in Modern</li>
        {% elif card.legal_modern == card.LEGALITY_RESTRICED %}
        <li class="text-danger">Restricted in Modern</li>
        {% elif card.legal_modern == card.LEGALITY_BANNED %}
        <li class="text-danger">Banned in Modern</li>
        {% endif  %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
