{% extends 'cardbox/base.html' %}

{% load staticfiles %}

{% block content %}

<table>
  <tbody>
    <tr>
      <td width="65%" valign="top">
        <div class="content">
          <div class="row">
            {% for card in cards.object_list %}
            <div class="col-xs-6 col-md-3">
              <a href="{% url 'cardbox:card' card.id %}" class="thumbnail">
                <img src="{% static card.get_image_url %}" alt="{{ card.name }}">
              </a>
            </div>
            {% endfor %}
          </div>
          {% with cards as page_obj %}
          {% include 'cardbox/pagination.html' %}
          {% endwith %}
        </div>
      </td>
      <td width="35%" valign="top">
        {% include 'cardbox/filter_sidebar.html' %}
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
