{% extends 'cardbox/base.html' %}

{% block content %}
<div class="content">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>P/T/L</th>
        <th>Mana</th>
      </tr>
    </thead>
    <tbody>
      {% for card in cards.object_list %}
      <tr>
        <td>{{ card.name }}</td>
        <td>{{ card.types }}</td>
        <td>{{ card.get_ptl }}</td>
        <td>{{ card.get_mana }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% with cards as page_obj %}
  {% include 'cardbox/pagination.html' %}
  {% endwith %}
</div>

{% endblock %}
