{% extends 'cardbox/base.html' %}

{% load staticfiles %}

{% block content %}

<div class="page-header">
  <h1>{{ collection.name }} <small>
      {% if request.user == collection.owner %}
      <a href="{% url 'cardbox:edit_collection' collection.id %}"><img src="{% static 'cardbox/images/icons/16px/149-cog.png' %}" alt="Edit" title="Edit"></a>
      {% endif %}
      {{ collection.date_created }}
      {% if request.user == collection.owner or request.user in collection.editors.all %}
      <a href="{% url 'cardbox:add_collection_entry' collection.id %}">
        <img src="{% static 'cardbox/images/icons/16px/267-plus.png' %}" alt="Add card" title="Add card">
      </a>
      {% endif %}
  </small></h1>
</div>

<table>
  <tbody>
    <tr>
      <td width="75%">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Count</th>
              <th>Foiled</th>
              <th>Name</th>
              <th>Types</th>
              <th>P/T/L</th>
              <th>Mana</th>
            </tr>
          </thead>
          <tbody>
            {% for count, fcount, card in entries.object_list %}
            <tr>
              <td>{{ count }}</td>
              <td>{{ fcount }}</td>
              <td>{{ card.name }}</td>
              <td>{{ card.types }}</td>
              <td>{{ card.get_ptl }}</td>
              <td>{{ card.get_mana }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% with entries as page_obj %}
        {% include 'cardbox/pagination.html' %}
        {% endwith %}
      </td>
      <td width="25%">
        <div class="content">
          <h3>Filter</h3>
          <p>This is where all filters will be shown</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
